div{
    display: inline-block;
    background-color: black;
    color: white;
    text-align: center;
    width: 200px;
    height: 200px;
    border: 1px, solid,white;
}
div:hover{
    background-color: chocolate;
}